{% autoescape off %}

        >Please activate your account
        Dear {{ user.fullname }},
        Thank you for registering. Please click the following link to activate your account:
         href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}"Activate Account
        If the above link doesn't work, you can copy and paste the following URL into your browser:
        http://{{ domain }}{% url 'activate' uidb64=uid token=token %}
        Thank you,
        Your Website Team
   


{% endautoescape %}
