{% extends 'base.html' %}
{% block content %}

{% include 'includes/navbar.html' %} 

<section class="section-conten padding-y" style="min-height:84vh">
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
        <h4 class="card-title mb-4">Forgot password</h4>
    <form method="POST" action="{% url 'forgotpassword' %}">
        {% csrf_token %}
        
        <div class="form-group">
            <label >Email</label>
            <input type="email" class="form-control" placeholder="Enetr your email" name='email' required>
         </div>
       
        <div class="form-group col-md-6">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="text-success alert alert-success font-weight-bold" role="alert" id="message-alert">{{message}}</div>
                {% endif %}
                {% if message.tags == "error" %}
                    <div class="text-danger alert alert-danger font-weight-bold" role="alert" id="message-alert">{{message}}</div>
                {% endif %}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-dark">verify email</button>
    </form>
    <p>Not a member? <a href="{% url 'registration' %}">Register</a></p>
    <p>already a member? <a href="{% url 'login' %}">login</a></p>
    <br><br>

</section>


    
    <script>
        setTimeout(function() {
            var messageAlerts = document.querySelectorAll('#message-alert');
            if (messageAlerts) {
                messageAlerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }
        }, 8000);
    </script>
{% endblock %}
