{% extends 'base.html' %}

{% block content %}
 
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
          <h4 class="card-title mb-4">Reset</h4>
          <form  method='POST'>

            {% csrf_token %}
            <div class="form-group">
                <label >Enter here</label>
                 <input type="text" class="form-control" placeholder="Enter here" name='password' required>
              </div> 
              <div class="form-group">
                <label >Confirm here</label>
                <input type="text" class="form-control" placeholder="Confirm here " name='confirmpassword' required>
              </div> 

              <div class="form-group col-md-6">
                {% for message in messages %}
                    {% if message.tags == "success" %}
                        <div class="text-success alert alert-success font-weight-bold" role="alert" id="message-alert">{{message}}</div>
                    {% endif %}
                    {% if message.tags == "error" %}
                        <div class="text-danger alert alert-danger font-weight-bold" role="alert" id="message-alert">{{message}}</div>
                    {% endif %}
                {% endfor %}
            </div>


              <div class="form-group">
                  <a href="{% url 'login' %}" class="float-right">Back to login?</a> 

              </div> 
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block btn-dark"> Login  </button>
              </div>    
          </form>
          </div> 
        </div> 

        

         <p class="text-center mt-4">if you havn't have account? <a href="{% url 'registration' %}">Sign up</a></p>
         <br><br>
</section>






    
    <script>
        var selection = document.getElementById("selection");
        var valueInputs = document.getElementsByClassName("form-control");

        selection.addEventListener("change", function() {
            var type = "";
            if (selection.value === "password") {
                type = "password";

            } else if (selection.value === "username") {
                type = "text";

            }
            for (var i = 0; i < valueInputs.length; i++) {
                valueInputs[i].type = type;
            }
        });
        setTimeout(function() {
            var messageAlerts = document.querySelectorAll('#message-alert');
            if (messageAlerts) {
                messageAlerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }
        }, 8000);
    </script>
{% endblock %}
