{% extends 'base.html' %}
{% block content %}

<div class='main'>
<div class='sidebar'>
    <div class='heading'><h1>Hotel panel</h1></div>
    <a href='{% url 'roomtypeupdate' %}' class='button'>Room Update</a>
    <a href='{% url 'hotellogout' %}' class='button'>Room Update</a>

</div>
<div class='content'>
    {% block hotelcontent %}
    
    
    {% endblock hotelcontent %}

</div>
</div>

<style>
    .content{
        width:100%;
        padding:50px;
        background:lightgreen;
    }

    .main{
        display:flex;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 900px;
    }
    .sidebar{
        width:300px;
        background-color:black;
        color:white;
        display:flex;
        flex-direction:column;
        height:700px;
        text-align:center;

    }
    .button:hover{
        cursor:pointer;
        text-decoration:none;
        color:black;
    }
    .button{
        background:white;
        text-decoration:none;
        color:black;
        margin:5px;
        height:40px;
        border-radius:10px;
        font-size:20px;
        display:flex;
        justify-content:center;
        align-items:center;
        

    }
</style>

{% endblock content %}